In [1]:
import pandas as pd
import numpy as np
from src import util
from src.process2004_2017 import get_processed_enade_2014_2017
from src.process2011 import get_processed_enade_2011
from src.process2008 import get_processed_enade_2008
from src.process2005 import get_processed_enade_2005
from src import config
from src import subject_manipulation

In [2]:
subject_df = subject_manipulation.get_processed_subject_df()

In [3]:
year = 2005

In [4]:
subject_df = subject_df.loc[subject_df['ano'] == year]
subject_df.head()

     idquestao     ano curso  prova tipoquestao conteudo1 conteudo2 conteudo3
160          1  2005.0    CC  Geral    Objetiva       NaN       NaN       NaN
161          2  2005.0    CC  Geral    Objetiva       NaN       NaN       NaN
162          3  2005.0    CC  Geral    Objetiva       NaN       NaN       NaN
163          4  2005.0    CC  Geral    Objetiva       NaN       NaN       NaN
164          5  2005.0    CC  Geral    Objetiva       NaN       NaN       NaN

In [5]:
subjects = util.get_subjects(subject_df)
subjects

array(['Algoritmos e estruturas de dados',
       'Arquitetura de computadores e sistemas operacionais',
       'Banco de dados', 'Compiladores',
       'Computação gráfica e processamento de imagem',
       'Engenharia de software e interação homem-computador',
       'Fundamentos e técnicas de programação',
       'Inteligência artificial e computacional',
       'Lógica e matemática discreta',
       'Paradigmas de linguagens de programação', 'Redes de computadores',
       'Sistemas digitais', 'Sistemas distribuídos',
       'Teoria da computação', 'Teoria dos grafos',
       'Ética, computador e sociedade'], dtype=object)

In [6]:
enade_2017_df, original_df = get_processed_enade_2005(f"data/enade/enade{year}/2.DADOS/microdados_enade_{year}.csv")
enade_2017_df.head()

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:2822: DtypeWarning: Columns (67,68,69,70,71,72,73,74,76,77,78,79,80,81,85) have mixed types.Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

,QUESTAO_1_NOTA,QUESTAO_2_NOTA,QUESTAO_3_NOTA,QUESTAO_4_NOTA,QUESTAO_5_NOTA,QUESTAO_6_NOTA,QUESTAO_7_NOTA,QUESTAO_8_NOTA,QUESTAO_9_NOTA,QUESTAO_10_NOTA,...,QUESTAO_31_STATUS,QUESTAO_32_STATUS,QUESTAO_33_STATUS,QUESTAO_34_STATUS,QUESTAO_35_STATUS,QUESTAO_36_STATUS,QUESTAO_37_STATUS,QUESTAO_38_STATUS,QUESTAO_39_STATUS,QUESTAO_40_STATUS
242877,100,100,100,100,100,100,100,85,100,50,...,OK,OK,OK,NULA,OK,NULA,OK,OK,NULA,OK
242878,100,100,100,100,0,100,100,55,40,20,...,OK,OK,OK,NULA,OK,NULA,OK,OK,NULA,OK
242879,100,100,100,100,100,100,100,80,70,70,...,OK,OK,OK,NULA,OK,NULA,OK,OK,NULA,OK
242880,.,.,.,.,.,.,.,NaN,NaN,NaN,...,OK,OK,OK,OK,OK,OK,OK,OK,OK,OK
242881,100,100,0,100,0,100,100,60,35,30,...,OK,OK,OK,NULA,OK,NULA,OK,OK,NULA,OK

In [7]:
enade_2017_df[[f"QUESTAO_{x}_NOTA" for x in range(11, 11+10)]]

,QUESTAO_11_NOTA,QUESTAO_12_NOTA,QUESTAO_13_NOTA,QUESTAO_14_NOTA,QUESTAO_15_NOTA,QUESTAO_16_NOTA,QUESTAO_17_NOTA,QUESTAO_18_NOTA,QUESTAO_19_NOTA,QUESTAO_20_NOTA
242877,9,0,0,0,0,0,100,100,100,0
242878,9,0,100,0,0,0,100,0,100,0
242879,9,100,0,0,0,100,100,0,0,0
242880,.,.,.,.,.,.,.,.,.,.
242881,9,0,0,0,0,0,0,0,0,0
242882,9,100,100,100,100,0,100,0,100,0
242883,9,100,0,0,100,0,100,100,100,0
242884,9,100,100,100,0,0,100,100,0,100
242885,9,0,100,100,0,0,100,0,100,100
242886,9,100,100,100,0,0,100,0,100,0
242887,9,100,0,100,100,0,100,0,100,0
242888,9,100,100,100,100,0,0,0,0,100
242889,9,100,100,0,100,0,100,0,0,0
242890,9,100,0,100,100,0,100,0,100,100
242891,9,100,0,0,100,0,100,0,100,0
242892,9,100,100,100,0,0,100,0,0,100
242893,9,0,0,0,100,100,100,0,100,100
242894,9,0,0,0,0,0,100,0,100,100
242905,.,.,.,.,.,.,.,.,.,.

In [8]:
original_df["vt_ace_oce"]

242877    ............................900000111010009901...
242878    ............................901000101011109911...
242879    ............................910001100000009910...
242880    .................................................
242881    ............................900000000010109901...
242882    ............................911110101000019911...
242883    ............................910010111000009910...
242884    ............................911100110111119910...
242885    ............................901100101111119901...
242886    ............................911100101010009901...
242887    ............................910110101000109911...
242888    ............................911110000101009901...
242889    ............................911010100001109901...
242890    ............................910110101110009911...
242891    ............................910010101000019901...
242892    ............................911100100111109901...
242893    ............................900011101100109901...
242894    ............................900000101101109900...
242905    .................................................
Name: vt_ace_oce, dtype: object

In [9]:
original_df[[f"nt_ce_d{x}" for x in range(1, 18+1)]]

,nt_ce_d1,nt_ce_d2,nt_ce_d3,nt_ce_d4,nt_ce_d5,nt_ce_d6,nt_ce_d7,nt_ce_d8,nt_ce_d9,nt_ce_d10,nt_ce_d11,nt_ce_d12,nt_ce_d13,nt_ce_d14,nt_ce_d15,nt_ce_d16,nt_ce_d17,nt_ce_d18
242877,NaN,NaN,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242878,NaN,NaN,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242879,NaN,NaN,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242881,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242882,NaN,NaN,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242883,NaN,NaN,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242884,NaN,NaN,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242885,NaN,NaN,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242886,NaN,NaN,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242887,NaN,NaN,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242888,NaN,NaN,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242889,NaN,NaN,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242890,NaN,NaN,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242891,NaN,NaN,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242892,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242893,NaN,NaN,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242894,NaN,NaN,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
enade_2017_df["tp_pres"].value_counts()

555    17
222     2
Name: tp_pres, dtype: int64

In [11]:
original_df = original_df.loc[original_df["tp_pres"] == 555]
original_df.shape

(17, 290)

In [12]:
enade_2017_df["tp_pres"]

242877    555
242878    555
242879    555
242880    222
242881    555
242882    555
242883    555
242884    555
242885    555
242886    555
242887    555
242888    555
242889    555
242890    555
242891    555
242892    555
242893    555
242894    555
242905    222
Name: tp_pres, dtype: int64

In [13]:
new_mapping = enade_2017_df["tp_pres"].map({222:"Ausente", 555:"Presente"}).values
enade_2017_df.loc[:, "tp_pres"] = new_mapping
enade_2017_df["tp_pres"].value_counts()

Presente    17
Ausente      2
Name: tp_pres, dtype: int64

In [14]:
enade_2017_df = enade_2017_df.loc[enade_2017_df["tp_pres"] == "Presente"]

In [15]:
enade_2017_df = util.add_all_score_subjects(enade_2017_df, subject_df, objective=True)

Algoritmos e estruturas de dados [13, 24, 35]
Arquitetura de computadores e sistemas operacionais [12, 22, 23]
Banco de dados [29]
Compiladores [33]
Computação gráfica e processamento de imagem [31, 32]
Engenharia de software e interação homem-computador [15, 16]
Fundamentos e técnicas de programação [24, 28, 35]
Inteligência artificial e computacional [28]
Lógica e matemática discreta [18, 19, 21]
Paradigmas de linguagens de programação [20]
Redes de computadores [14, 38]
Sistemas digitais [30]
Sistemas distribuídos []
Teoria da computação [24, 35]
Teoria dos grafos [14]
Ética, computador e sociedade [17, 37]

In [16]:
enade_2017_df.head()[[f"QUESTAO_{i}_NOTA" for i in range(1, 41)]]

,QUESTAO_1_NOTA,QUESTAO_2_NOTA,QUESTAO_3_NOTA,QUESTAO_4_NOTA,QUESTAO_5_NOTA,QUESTAO_6_NOTA,QUESTAO_7_NOTA,QUESTAO_8_NOTA,QUESTAO_9_NOTA,QUESTAO_10_NOTA,...,QUESTAO_31_NOTA,QUESTAO_32_NOTA,QUESTAO_33_NOTA,QUESTAO_34_NOTA,QUESTAO_35_NOTA,QUESTAO_36_NOTA,QUESTAO_37_NOTA,QUESTAO_38_NOTA,QUESTAO_39_NOTA,QUESTAO_40_NOTA
242877,100,100,100,100,100,100,100,85,100,50,...,100,100,100,9,0,9,100,0,9,NaN
242878,100,100,100,100,0,100,100,55,40,20,...,100,100,100,9,0,9,100,100,9,NaN
242879,100,100,100,100,100,100,100,80,70,70,...,0,100,0,9,0,9,100,0,9,NaN
242881,100,100,0,100,0,100,100,60,35,30,...,0,0,0,9,100,9,100,0,9,NaN
242882,0,100,0,100,0,100,0,30,100,20,...,100,100,100,BRANCO,BRANCO,BRANCO,BRANCO,BRANCO,BRANCO,NaN

In [17]:
enade_2017_df[[f"QUESTAO_{x}_NOTA" for x in range(11, 11+10)]]

,QUESTAO_11_NOTA,QUESTAO_12_NOTA,QUESTAO_13_NOTA,QUESTAO_14_NOTA,QUESTAO_15_NOTA,QUESTAO_16_NOTA,QUESTAO_17_NOTA,QUESTAO_18_NOTA,QUESTAO_19_NOTA,QUESTAO_20_NOTA
242877,9,0,0,0,0,0,100,100,100,0
242878,9,0,100,0,0,0,100,0,100,0
242879,9,100,0,0,0,100,100,0,0,0
242881,9,0,0,0,0,0,0,0,0,0
242882,9,100,100,100,100,0,100,0,100,0
242883,9,100,0,0,100,0,100,100,100,0
242884,9,100,100,100,0,0,100,100,0,100
242885,9,0,100,100,0,0,100,0,100,100
242886,9,100,100,100,0,0,100,0,100,0
242887,9,100,0,100,100,0,100,0,100,0
242888,9,100,100,100,100,0,0,0,0,100
242889,9,100,100,0,100,0,100,0,0,0
242890,9,100,0,100,100,0,100,0,100,100
242891,9,100,0,0,100,0,100,0,100,0
242892,9,100,100,100,0,0,100,0,0,100
242893,9,0,0,0,100,100,100,0,100,100
242894,9,0,0,0,0,0,100,0,100,100

In [18]:
enade_2017_df[f"QUESTAO_{36}_STATUS"]

242877    NULA
242878    NULA
242879    NULA
242881    NULA
242882    NULA
242883    NULA
242884    NULA
242885    NULA
242886    NULA
242887    NULA
242888    NULA
242889    NULA
242890    NULA
242891    NULA
242892    NULA
242893    NULA
242894    NULA
Name: QUESTAO_36_STATUS, dtype: object

In [19]:
# medias dos alunos por cada tema, junto com o número de questões
num_questions = []
mean_acertos_by_subject = []
std_acertos_by_subject = []
column_zero_subject = []
column_geq_one_subject = []
column_all_subject = []
num_alunos = enade_2017_df.shape[0]

for subject in subjects:
    subject_questions = util.get_subject_valid_questions(subject, 
                                                                 subject_df,
                                                                 enade_2017_df,
                                                                 just_objective=True)
    num_obj_subject_questions = len(subject_questions)
    
    
    
    mean_acertos_subject = enade_2017_df[f"ACERTOS_OBJ_{subject}"].mean()
    
    std_acertos_subject = enade_2017_df[f"ACERTOS_OBJ_{subject}"].std()
    
    zero_subject_count = enade_2017_df[f"ACERTOS_OBJ_{subject}"].value_counts()

    if 0 in zero_subject_count.index:
        zero_subject = zero_subject_count[0] / num_alunos
    else:
        zero_subject = 0
    
    geq_one_subject_count = (enade_2017_df[f"ACERTOS_OBJ_{subject}"] >= 1).value_counts()
    if True in geq_one_subject_count.index:
        geq_one_subject = geq_one_subject_count[True] / num_alunos
    else:
        geq_one_subject = 0
    
    all_subject_count = (enade_2017_df[f"ACERTOS_OBJ_{subject}"] == num_obj_subject_questions).value_counts()
    if True in all_subject_count.index:
        all_subject = (all_subject_count[True] / num_alunos)
    else:
        all_subject = 0
        
    if num_obj_subject_questions > 0:
        num_questions.append(num_obj_subject_questions)
        mean_acertos_by_subject.append(mean_acertos_subject)
        std_acertos_by_subject.append(std_acertos_subject)
        column_zero_subject.append(zero_subject)
        column_geq_one_subject.append(geq_one_subject)
        column_all_subject.append(all_subject)
    else:
        num_questions.append(0)
        mean_acertos_by_subject.append(None)
        std_acertos_by_subject.append(None)
        column_zero_subject.append(None)
        column_geq_one_subject.append(None)
        column_all_subject.append(None)

    
subjects_labels = [f"SCORE_OBJ_{x}" for x in subjects]

mean_by_subject = enade_2017_df[subjects_labels].mean().values

data = np.array([mean_by_subject, num_questions]).T

display_df = pd.DataFrame(data=data, index=subjects, 
                          columns=["Nota %", "Nº Questões"])
display_df["Nº Questões"] = display_df["Nº Questões"].astype(int, errors="ignore")
display_df["Média Acertos"] = mean_acertos_by_subject
display_df["Desvio Padrão Acertos"] = std_acertos_by_subject
display_df["% de Zeros"] = column_zero_subject
display_df["% de Zeros"] = display_df["% de Zeros"]*100
display_df["% de Alunos que acertaram pelo menos uma questão"] = column_geq_one_subject
display_df["% de Alunos que acertaram pelo menos uma questão"] = display_df["% de Alunos que acertaram pelo menos uma questão"]*100
display_df["% de Alunos que acertaram todas"] = column_all_subject
display_df["% de Alunos que acertaram todas"] = display_df["% de Alunos que acertaram todas"]*100

display_df = display_df.sort_values(by=["Nota %"]).round(2)
display_df

,Nota %,Nº Questões,Média Acertos,Desvio Padrão Acertos,% de Zeros,% de Alunos que acertaram pelo menos uma questão,% de Alunos que acertaram todas
Teoria da computação,23.53,2,0.47,0.62,58.82,41.18,5.88
Engenharia de software e interação homem-computador,29.41,2,0.59,0.62,47.06,52.94,5.88
Fundamentos e técnicas de programação,29.41,3,0.88,0.78,35.29,64.71,0.00
Algoritmos e estruturas de dados,31.37,3,0.94,0.75,29.41,70.59,0.00
Inteligência artificial e computacional,41.18,1,0.41,0.51,58.82,41.18,41.18
Paradigmas de linguagens de programação,41.18,1,0.41,0.51,58.82,41.18,41.18
Redes de computadores,41.18,2,0.82,0.81,41.18,58.82,23.53
Lógica e matemática discreta,43.14,3,1.29,0.85,17.65,82.35,5.88
Teoria dos grafos,47.06,1,0.47,0.51,52.94,47.06,47.06
Sistemas digitais,52.94,1,0.53,0.51,47.06,52.94,52.94
Arquitetura de computadores e sistemas operacionais,52.94,3,1.59,0.87,5.88,94.12,17.65
Computação gráfica e processamento de imagem,55.88,2,1.12,0.86,29.41,70.59,41.18
Compiladores,58.82,1,0.59,0.51,41.18,58.82,58.82
Banco de dados,76.47,1,0.76,0.44,23.53,76.47,76.47
"Ética, computador e sociedade",82.35,2,1.65,0.49,0.00,100.00,64.71
Sistemas distribuídos,NaN,0,NaN,NaN,NaN,NaN,NaN

In [20]:
original_df[["vt_esc_ofg", "vt_esc_oce"]]

       vt_esc_ofg                                         vt_esc_oce
242877    DECAECB  ............................BDEECCBACECBDAEDCC...
242878    DECABCB  ............................CDBEBDBCCBCAACEBBC...
242879    DECAECB  ............................CEEDEEBCBEEBCADCBD...
242881    DEDABCB  ............................BCCEBCAEDECCAEEACC...
242882    AEEABCD  ............................CEBCDABECEDBDBECBC...
242883    DADDABB  ............................EEAADCBACEBCBDCDBE...
242884    DECAEEB  ............................CEBCBABAADCAABEBBA...
242885    AECAEBB  ............................BDBCBABBCDCAABCDCC...
242886    DECAEBB  ............................CEBCEABCCECDDDECCC...
242887    DECAECB  ............................BEECDDBCCAABAEEDBC...
242888    DDCAECB  ............................CEBCDAEBBDAADDECCC...
242889    DECADCA  ............................CEBDDCBCAEAAADECCC...
242890    DECAEBE  ............................CEACDABCCDCDDDEDBC...
242891    .......  ............................BEEEDCBBCEAEDBCBCC...
242892    DECABDB  ............................BEBCEABBEDCAADBDCC...
242893    DBCAEBB  ............................BDABDEBCCDADADDCCC...
242894    DCCAECB  ............................DDCABABBCDDAACBDCE...

In [21]:
objective_questions = subject_manipulation.get_objective_questions(subject_df)
enade_2017_df_objective = enade_2017_df[[f"QUESTAO_{i}_NOTA" for i in objective_questions]]
num_blank = 0
num_deletion = 0
for column in enade_2017_df_objective.columns:
    if "BRANCO" in enade_2017_df_objective[column].values:
        num_blank += enade_2017_df_objective[column].value_counts()["BRANCO"]
    if "RASURA" in enade_2017_df_objective[column].values:
        num_deletion += enade_2017_df_objective[column].value_counts()["RASURA"]
percentage_blank = num_blank * 100 / np.prod(enade_2017_df_objective.shape)
percentage_blank = round(percentage_blank, 2)



print(f"{num_blank} questão/questões marcada(s) em branco, o que equivale a "
      f"{percentage_blank}% das questões objetivas")
print(f"{num_deletion} questão/questões rasurada(s)")

13 questão/questões marcada(s) em branco, o que equivale a 2.18% das questões objetivas
0 questão/questões rasurada(s)