In [1]:
import pandas as pd
import numpy as np
from src import util
from src.process2004_2017 import get_processed_enade_2014_2017
from src.process2011 import get_processed_enade_2011
from src import config
from src import subject_manipulation

In [2]:
subject_df = subject_manipulation.get_processed_subject_df()

In [3]:
year = 2011

In [4]:
subject_df = subject_df.loc[subject_df['ano'] == year]
subject_df.head()

    idquestao     ano curso  prova tipoquestao conteudo1 conteudo2 conteudo3
80          1  2011.0    CC  Geral    Objetiva       NaN       NaN       NaN
81          2  2011.0    CC  Geral    Objetiva       NaN       NaN       NaN
82          3  2011.0    CC  Geral    Objetiva       NaN       NaN       NaN
83          4  2011.0    CC  Geral    Objetiva       NaN       NaN       NaN
84          5  2011.0    CC  Geral    Objetiva       NaN       NaN       NaN

In [5]:
subjects = util.get_subjects(subject_df)
subjects

array(['Algoritmos e estruturas de dados',
       'Arquitetura de computadores e sistemas operacionais',
       'Compiladores',
       'Engenharia de software e interação homem-computador',
       'Fundamentos e técnicas de programação',
       'Inteligência artificial e computacional',
       'Lógica e matemática discreta',
       'Paradigmas de linguagens de programação',
       'Probabilidade e estatística', 'Redes de computadores',
       'Sistemas digitais', 'Teoria da computação', 'Teoria dos grafos'],
      dtype=object)

In [6]:
enade_2017_df = get_processed_enade_2011(f"data/enade/enade{year}/3.DADOS/MICRODADOS_ENADE_{year}.txt")
enade_2017_df.head()

      DS_VT_ESC_OFG                               DS_VT_ESC_OCE
62518      DDEDCAAE  BCABDECDBBEEDEBDDAEBEC.....DDBDD..........
62519      DDEACBAC  CCCBEECE.BEAAAAAAABADA....................
62520      AEBBCABC  DCCBBECABBDEACDCEBEDAE.....DBADE..........
62521      DAECCBBA  CECBEECCCBEDACAADDBDBB.....ADBDE..........
62522      DAEBCBBE  DCCBAECEDBEAACCDBBADCA.....EBAED..........
62523      EDABCBAE  DECBEEAACBEEACAECDEBBC.....DBCAE..........
62524      DAEBCABA  ACDBBCECDDEEACDEEBEDED.....CDBDD..........
62525      CDEBCBAE  CEDCABCCAEEEACCEDDEDAE.....DCBCD..........
62526      DCEABBAA  CEDDCCDADDEDADDDDDCDBB.....CDEDC..........
62527      DDEBCBAC  EECBEECDAEEDABEEEEEBAC.....CADDE..........
62528      DECBCAAE  EECBDECDABEDACECCDEBAC.....DBEEB..........
62529      DEBCCBAE  ACDBCCCABEEEACABADDBEA.....AAADE..........
62530      DCEACAAA  CCABCECCCEEEDCACBCECCC.....CCCCD..........
62531      DDEBCABC  ECCAEECCCBEEDAEDECEBAC.....ADAEE..........
62532      EDEBCBDE  CECBAEBBABEDDAACEDEBAC.....CDEDB..........
62533      DDEACBBD  ACCBEACEBBEDADDCDAEBDD.....DAEDE..........
62534      DAAABBAE  EECBEECCDDADDCABEADBAC.....CBAAE..........
62535      DEECBBBD  BCCBADBDBDEDAAADEDDBBE.....DBADB..........
62536      DCEBCBAC  DCCBBEBDBEEBABDEBADDAC.....AEADE..........

,QUESTAO_1_NOTA,QUESTAO_2_NOTA,QUESTAO_3_NOTA,QUESTAO_4_NOTA,QUESTAO_5_NOTA,QUESTAO_6_NOTA,QUESTAO_7_NOTA,QUESTAO_8_NOTA,QUESTAO_9_NOTA,QUESTAO_10_NOTA,...,QUESTAO_32_NOTA,QUESTAO_33_NOTA,QUESTAO_34_NOTA,QUESTAO_35_NOTA,QUESTAO_36_NOTA,QUESTAO_37_NOTA,QUESTAO_38_NOTA,QUESTAO_39_NOTA,QUESTAO_40_NOTA,TP_PRES
62518,100,0,100,0,100,0,0,100,100,100,...,100,100,0,100,100,100,NULA,100,NULA,555
62519,100,0,100,100,100,100,0,0,70,80,...,0,0,0,0,BRANCO,BRANCO,NULA,BRANCO,NULA,555
62520,0,0,0,0,100,0,100,0,25,90,...,100,0,100,0,100,0,NULA,100,NULA,555
62521,100,100,100,0,100,100,100,0,70,30,...,0,0,0,0,0,100,NULA,100,NULA,555
62522,100,100,100,0,100,100,100,100,90,BRANCO,...,0,0,0,0,0,0,NULA,0,NULA,555

In [7]:
enade_2017_df["TP_PRES"].value_counts()

555    19
Name: TP_PRES, dtype: int64

In [8]:
new_mapping = enade_2017_df["TP_PRES"].map({222:"Ausente", 555:"Presente"}).values
enade_2017_df.loc[:, "TP_PRES_LABEL"] = new_mapping
enade_2017_df["TP_PRES_LABEL"].value_counts()

Presente    19
Name: TP_PRES_LABEL, dtype: int64

In [9]:
enade_2017_df = enade_2017_df.loc[enade_2017_df["TP_PRES_LABEL"] == "Presente"]

In [10]:
enade_2017_df = util.add_all_score_subjects(enade_2017_df, subject_df, objective=True)

In [11]:
enade_2017_df.head()[[f"QUESTAO_{i}_NOTA" for i in range(11, 21)]]

,QUESTAO_11_NOTA,QUESTAO_12_NOTA,QUESTAO_13_NOTA,QUESTAO_14_NOTA,QUESTAO_15_NOTA,QUESTAO_16_NOTA,QUESTAO_17_NOTA,QUESTAO_18_NOTA,QUESTAO_19_NOTA,QUESTAO_20_NOTA
62518,70,BRANCO,BRANCO,0,0,0,100,NULA,100,0
62519,BRANCO,BRANCO,BRANCO,0,0,100,100,NULA,100,0
62520,15,100,BRANCO,100,0,100,100,NULA,100,0
62521,35,BRANCO,BRANCO,0,100,100,100,NULA,100,0
62522,BRANCO,BRANCO,BRANCO,100,0,100,100,NULA,100,0

In [16]:
enade_2017_df["QUESTAO_22_NOTA"]

62518    NULA
62519    NULA
62520    NULA
62521    NULA
62522    NULA
62523    NULA
62524    NULA
62525    NULA
62526    NULA
62527    NULA
62528    NULA
62529    NULA
62530    NULA
62531    NULA
62532    NULA
62533    NULA
62534    NULA
62535    NULA
62536    NULA
Name: QUESTAO_22_NOTA, dtype: object

In [12]:
# medias dos alunos por cada tema, junto com o número de questões
num_questions = []
mean_acertos_by_subject = []
std_acertos_by_subject = []
column_zero_subject = []
column_geq_one_subject = []
column_all_subject = []
num_alunos = enade_2017_df.shape[0]

for subject in subjects:
    subject_questions = util.get_subject_valid_questions(subject, 
                                                                 subject_df,
                                                                 enade_2017_df,
                                                                 just_objective=True)
    num_obj_subject_questions = len(subject_questions)
    
    
    
    mean_acertos_subject = enade_2017_df[f"ACERTOS_OBJ_{subject}"].mean()
    
    std_acertos_subject = enade_2017_df[f"ACERTOS_OBJ_{subject}"].std()
    
    zero_subject_count = enade_2017_df[f"ACERTOS_OBJ_{subject}"].value_counts()

    if 0 in zero_subject_count.index:
        zero_subject = zero_subject_count[0] / num_alunos
    else:
        zero_subject = 0
    
    geq_one_subject_count = (enade_2017_df[f"ACERTOS_OBJ_{subject}"] >= 1).value_counts()
    if True in geq_one_subject_count.index:
        geq_one_subject = geq_one_subject_count[True] / num_alunos
    else:
        geq_one_subject = 0
    
    all_subject_count = (enade_2017_df[f"ACERTOS_OBJ_{subject}"] == num_obj_subject_questions).value_counts()
    if True in all_subject_count.index:
        all_subject = (all_subject_count[True] / num_alunos)
    else:
        all_subject = 0
        
    if num_obj_subject_questions > 0:
        num_questions.append(num_obj_subject_questions)
        mean_acertos_by_subject.append(mean_acertos_subject)
        std_acertos_by_subject.append(std_acertos_subject)
        column_zero_subject.append(zero_subject)
        column_geq_one_subject.append(geq_one_subject)
        column_all_subject.append(all_subject)
    else:
        num_questions.append(0)
        mean_acertos_by_subject.append(None)
        std_acertos_by_subject.append(None)
        column_zero_subject.append(None)
        column_geq_one_subject.append(None)
        column_all_subject.append(None)
        




    
    
subjects_labels = [f"SCORE_OBJ_{x}" for x in subjects]

mean_by_subject = enade_2017_df[subjects_labels].mean().values

data = np.array([mean_by_subject, num_questions]).T

display_df = pd.DataFrame(data=data, index=subjects, 
                          columns=["Nota %", "Nº Questões"])
display_df["Nº Questões"] = display_df["Nº Questões"].astype(int, errors="ignore")
display_df["Média Acertos"] = mean_acertos_by_subject
display_df["Desvio Padrão Acertos"] = std_acertos_by_subject
display_df["% de Zeros"] = column_zero_subject
display_df["% de Zeros"] = display_df["% de Zeros"]*100
display_df["% de Alunos que acertaram pelo menos uma questão"] = column_geq_one_subject
display_df["% de Alunos que acertaram pelo menos uma questão"] = display_df["% de Alunos que acertaram pelo menos uma questão"]*100
display_df["% de Alunos que acertaram todas"] = column_all_subject
display_df["% de Alunos que acertaram todas"] = display_df["% de Alunos que acertaram todas"]*100

display_df = display_df.sort_values(by=["Nota %"]).round(2)
display_df

,Nota %,Nº Questões,Média Acertos,Desvio Padrão Acertos,% de Zeros,% de Alunos que acertaram pelo menos uma questão,% de Alunos que acertaram todas
Redes de computadores,13.16,2,0.26,0.56,78.95,21.05,5.26
Probabilidade e estatística,42.11,1,0.42,0.51,57.89,42.11,42.11
Teoria dos grafos,42.11,1,0.42,0.51,57.89,42.11,42.11
Lógica e matemática discreta,43.86,3,1.32,0.75,10.53,89.47,5.26
Arquitetura de computadores e sistemas operacionais,47.37,2,0.95,0.71,26.32,73.68,21.05
Paradigmas de linguagens de programação,49.12,3,1.47,0.96,15.79,84.21,15.79
Fundamentos e técnicas de programação,50.00,4,2.00,1.15,10.53,89.47,10.53
Sistemas digitais,52.63,1,0.53,0.51,47.37,52.63,52.63
Teoria da computação,52.63,3,1.58,1.02,15.79,84.21,21.05
Algoritmos e estruturas de dados,55.79,5,2.79,1.23,0.00,100.00,10.53
Engenharia de software e interação homem-computador,63.16,2,1.26,0.45,0.00,100.00,26.32
Compiladores,76.32,2,1.53,0.70,10.53,89.47,63.16
Inteligência artificial e computacional,NaN,0,NaN,NaN,NaN,NaN,NaN

In [13]:
objective_questions = subject_manipulation.get_objective_questions(subject_df)
enade_2017_df_objective = enade_2017_df[[f"QUESTAO_{i}_NOTA" for i in objective_questions]]
num_blank = 0
num_deletion = 0
for column in enade_2017_df_objective.columns:
    if "BRANCO" in enade_2017_df_objective[column].values:
        num_blank += enade_2017_df_objective[column].value_counts()["BRANCO"]
    if "RASURA" in enade_2017_df_objective[column].values:
        num_deletion += enade_2017_df_objective[column].value_counts()["RASURA"]
percentage_blank = num_blank * 100 / np.prod(enade_2017_df_objective.shape)
percentage_blank = round(percentage_blank, 2)



print(f"{num_blank} questão/questões marcada(s) em branco, o que equivale a "
      f"{percentage_blank}% das questões objetivas")
print(f"{num_deletion} questões rasuradas")

3 questão/questões marcada(s) em branco, o que equivale a 0.45% das questões objetivas
0 questões rasuradas